/* À Propos */

.aboutContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 100px;
}

@media screen and (min-width: 200px) and (max-width: 768px) {
    

    /* contenu de about */
    
    .aboutContent {
        padding: 0;
    }

    /* Restaurants */
    


}

/* desktop ++ */

@media screen and (min-width: 769px) and (max-width: 1025px) {

    /* Fonctionnement */
    


    /* Restaurants */
    
    

}