/* Collapse */

.mainCollapse{
    width: 80%;
    height: 100%;
    border-radius: 10px;
    margin: 20px 0;
}

.mainCollapse h2{
    font-size: 19px;
    font-weight: 400;
    color: #FFFF;
}

.mainCollapse button {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.container-1{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: relative;
    padding: 5px 15px;
    background-color: #FF6060;
}

.container-1.onWork-1 {
    border-radius: 10px 10px 0 0;
}

.container-2{
    display: none;
    width: 100%;
    background-color: #F6F6F6;
    padding: 5px 15px;
    border-radius: 0 0 10px 10px;
}

.container-2.onWork-2 {
    transition: 5s linear;
    display: block;
}

.button i {
    transform: rotate(180deg);
}

@keyframes down-to-up {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
}

.buttonSpin.spin {
    animation: down-to-up forwards;
}

.buttonSpin {
    background-color: transparent;
}

.buttonSpin i{
    font-size: 20px;
    color: #F0F0F0;
}