/* Erreur style */

.ErrorStyle{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FF6060;
}

.ErrorStyle h1{
    font-size: 230px;
    font-weight: 600;
}

.ErrorStyle p{
    font-size: 30px;
    margin: 70px 0;
}

.ErrorStyle a{
    font-size: 18px;
    margin-top: 20px;
    text-decoration: underline;
}


/* Media queries */

@media screen and (min-width: 200px) and (max-width: 768px) {
    

    /* Fonctionnement */
    


    /* Restaurants */
    


}

/* desktop ++ */

@media screen and (min-width: 769px) and (max-width: 1025px) {

    /* Fonctionnement */
    


    /* Restaurants */
    
    

}