/* Barre de navigation */

.nav1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px;
    padding: 10px 50px;
}

.nav1 img {
    width: auto;
    height: auto;
}

.nav2 {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.nav2 a {
    font-size: 26px;
    text-decoration: none;
    margin: 5px 20px;
}

.nav2 {
    margin-right: 0;
}

/* Media queries */

@media screen and (min-width: 200px) and (max-width: 768px) {

    /* Header */
    
    .nav1 img {
        width: 10px;
    }
    

    /* Fonctionnement */
    


    /* Restaurants */
    


    /* footer */

}

/* desktop ++ */

@media screen and (min-width: 769px) and (max-width: 1025px) {

    /* Fonctionnement */
    


    /* Restaurants */
    


    /* footer */

}

