/* section Logement */

.sectionLogement {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    padding: 30px;
    background-color:#F6F6F6;
    border-radius: 9px;
    gap: 10px;
}

/* Media queries */

@media screen and (min-width: 200px) and (max-width: 768px) {
    

    /* Fonctionnement */
    


    /* Restaurants */
    


}

/* desktop ++ */

@media screen and (min-width: 769px) and (max-width: 1025px) {

    /* Fonctionnement */
    


    /* Restaurants */
    
    

}