/* Logements*/

.logement {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}

.mainContainer {
    width: 90%;
    height: 100%;
    margin-top: 20px;
}

/* Drawer 1 et 2 */

.drawer-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.drawer-2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Différentes box 1, 2, 3 et 4 */

.box-1 h1{
    font-size: 36px;
    color: #FF6060;
    margin-bottom: 8px;
}

.box-1 p {
    font-size: 24px;
    font-weight: 500;
}

.box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-2 p {
    width: min-content;
    padding: 10px;
    font-size: 24px;
    color: #FF6060;
}

.imgPP {
    width: 60px;
    height: 60px;
    background-color: grey;
    border-radius: 50%;
}

.box-3{
    display: flex;
    flex-direction: row;
}

/* Collapse */

.collapse{
    display: flex;
    flex-direction: row;
    gap: 150px;
}