/* Logements*/

.logement {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}

.mainContainer {
    width: 90%;
    height: 100%;
    margin-top: 20px;
}

/* Drawer 1 et 2 */

.drawer-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.drawer-2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Différentes box 1, 2, 3 et 4 */

.box-1 h1{
    font-size: 36px;
    color: #FF6060;
    margin-bottom: 8px;
}

.box-1 p {
    font-size: 24px;
    font-weight: 500;
}

.box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-2 p {
    width: min-content;
    padding: 10px;
    font-size: 24px;
    color: #FF6060;
    direction: rtl;
}

.imgPP {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.imgPP img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.box-3{
    display: flex;
    flex-direction: row;
}

.stars i {
    font-size: 15px;
}

/* Collapse */

.collapse{
    display: flex;
    flex-direction: row;
    gap: 150px;
}

/* Media queries */

@media screen and (min-width: 200px) and (max-width: 768px) {

    /* Fonctionnement */

    .mainContainer {
        position: relative;
    }

    .box-2{
        position: absolute;
        right: 0;
        top: 130px;
    }

    .drawer-2 {
        flex-direction: column;
    }

    .box-4 i {
        font-size: 12px;
    }

    .box-3 {
        margin-bottom: 20px;
    }

    .box-4 {
        margin-top: 10px;
    }
    
    .collapse {
        flex-direction: column;
        gap: 0;
        margin-top: 10px;
    }
}

/* desktop ++ */

@media screen and (min-width: 769px) and (max-width: 1025px) {

    /* Fonctionnement */
    


    /* Restaurants */
    


    /* footer */

}