/* Les filtres */

.tags {
    width: auto;
    padding: 7px;
    border-radius: 20px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF6060;
    color: #f0f0f0;
}